body {
  font-size: 14px;
  color: #34495E;
  font-family: 'Oxygen', sans-serif;
  padding: 0;
  margin: 0;
}

/** Start Header & Navigation **/
#header-nav {
    background-color: #F1F1F1;
    border-radius: 0;
    border: 0;
    padding-bottom: 0px;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  padding-top: 20px;
  padding-left: 30px;
}
.navbar-brand h1 {
  color: #34495E;
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .25;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #F1F1F1;
}
.navbar-nav li a {
  padding: 10px;
  margin: 0px;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  color: #34495E;
}
#nav-list a {
  color: #34495E;
}
#nav-list a:hover, #nav-list a:active {
  background-color: #566573;
  color: #FFF;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #566573;
  background-color: #F1F1F1;
}
/** End Header & Naviation **/

/** Start Main Content **/
h2 {
 margin-top: 10px;
 font-size: 1.5em;
 font-weight: bold;
}
h3 {
  margin-top: 5px;
  font-size: 1.25em;
  font-weight: bold;
}
.item-tile {
  background-color: #F1F1F1;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
}
.item-tile-title {
  text-align: center;
}
/** End Main Content **/
